* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loginpage {
  min-height: 80vh;
  margin: 22px;
  background-color: rgb(248, 246, 246);
}
.loginpage-heading {
  width: 200px;
  font-size: 26px;
  margin-top: 30px;
}
.loginpage-para {
  width: 200px;
  color: rgb(108, 108, 108);
}
.loginpage-description {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.each-input {
  margin-bottom: 30px;
  position: relative;
}
.logininputfield {
  border: 1px solid lightgray;
  outline: none;
  padding: 10px 14px;
  border-radius: 6px;
  width: 100%;
  background-color: rgb(248, 246, 246);
}
.logininputfield:focus {
  border: 1.5px solid #000;
  outline: none;
}
.loginlabelstyle {
  color: rgb(100, 15, 219);
  font-size: 14px;
  position: absolute;
  left: 20px;
  top: -8px;
  background-color: rgb(248, 246, 246);
}
.loginpage-center {
  padding: 12px 22px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login-btn {
  width: 100%;
  border: none;
  color: aliceblue;
  background-color: rgb(100, 15, 219);
  border-radius: 6px;
  cursor: pointer;
  padding: 12px 24px;
  font-weight: 500;
  letter-spacing: 0.3px;
}
