* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.profile-head {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);
  text-align: left;
}

.profile-heading {
  font-size: 24px;
}
.profile-col {
  min-height: 80vh;
  background-color: rgb(248, 246, 246);
}
.profile-pic {
  width: 100px;
}
.pic-icon {
  width: 100%;
  border-radius: 50%;
}
.profile-details {
  display: flex;
  justify-content: space-around;
  padding: 18px 22px;
}
.profile-dets {
  width: 60%;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.description-para {
  text-align: justify;
  margin: 16px;
  color: #333;
  font-weight: 400;
}
