* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.welcome-div {
  min-height: 83vh;
  border: none;
  background-color: rgb(248, 246, 246);
  margin: 22px;
  padding: 12px 22px;
  display: flex;
  align-items: flex-end;
  font-family: "Inter", sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
.welcome-detail {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.welcome-div-btns {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 20px;
}
.welcome-div1 {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.welcome-heading {
  font-size: 26px;
  font-weight: 700;
}
.welcomepara {
  color: rgb(108, 108, 108);
  font-weight: 400;
  letter-spacing: 0.2px;
}
.signup-btn {
  width: 100%;
  border: none;
  color: aliceblue;
  background-color: rgb(100, 15, 219);
  border-radius: 6px;
  cursor: pointer;
  padding: 12px 24px;
  font-weight: 500;
  letter-spacing: 0.3px;
}
.login-btnn {
  border: none;
  color: black;
  background-color: #c7bae6;
  border-radius: 6px;
  cursor: pointer;
  padding: 12px 24px;
  font-weight: 500;
  letter-spacing: 0.3px;
}
